@import "./pretendard.css";
@import "tailwindcss";

:root {
    @apply font-pretendard bg-grey-50;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
