@layer components {
    .with-gradient-background {
        @apply bg-grey-900_text bg-no-repeat;
        background-image: linear-gradient(
            to bottom,
            rgba(11, 115, 220, 0.3) 0%,
            rgba(11, 115, 220, 0) 100%
        );
        background-size: 100% 279px;
    }
}

@layer base {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    label,
    small,
    figcaption {
        @apply whitespace-pre-line;
    }
}
